body {
	font-family: "arial", "helvetica", "sans-serif";
}

.banner {
	background-color:  #E8E8E8;
}

.msgframe {
	width:100%;
	padding:00px;
	border:1px solid gray;
	background-color: #F8F8F8; 
	margin-bottom:10px;
}

.msghead {
	background-color: #E8E8E8;
	padding: 5px;
}

.msgcontent {
	padding:5px;
	border:1px #D0D0D0 ;
	background-color: white; 
	margin:10px;
}

.preview {
	padding-top:3px;
	padding-left:2px;
	background-color: gray;
}

img.preview {
	
}


.previewPage {
	background-color: white;
}

.msgitem {
	padding:2px;
	border:3px;
	background-color: #F0F0F0; 
	margin:2px;
	
}

.reshead
{
	/* background-color:red; */
	text-align: left;
	width: 120px;
	padding: 7px;
	
}

.resrow
{
	/* background-color:green; */
	
	
}

.rescell
{
	/* background-color:blue; */
	padding: 7px;
	white-space:nowrap; 
	vertical-align: center;
}



tr:hover {background-color: #E8E8E8}

p.msgcontent {gh
	color: red;
}

.msgfoot {
	padding:5px;
	margin:10px;
}



.pageNum 
{	width: 5%;
	text-align: center;
	/* background-color: red; */
}


.density 
{	width: 5%;
	text-align: center;
	/* background-color: red; */
}

.rotation 
{	width: 5%;
	text-align: center;
	/* background-color: red; */
}
.gamma 
{	width: 5%;
	text-align: center;
	/* background-color: red; */
}


.bottomPager {
	float: right;
}